<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.unibave.compmoveltrabfinal">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".broadcastreceiver.BroadcastReceiverActivity" />
        <activity android:name=".sms.SMSActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".sms.SendSMSActivity" />

        <!-- Broadcast Receiver -->
        <receiver
            android:name=".broadcastreceiver.BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Broadcast Receiver Receive SMS -->
        <receiver
            android:name=".sms.SMSReceiver"
            android:enabled="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Service -->
        <service android:name=".service.ExampleService" />

        <activity android:name=".sms.ReceiveSMSActivity"></activity>
    </application>

</manifest>